* {
	background-color: : #000;
}
.content{
	background-color: : #000;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.btn-auth{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}